
    
   
.mCalendar {  
    visibility: visible;
    opacity: 0;
    position: absolute;
    z-index : 9999 !important;
}  


.mTextFecha:focus {
    
        border:solid 4px green !important;
      
 }


