
    
   

.mGrid .pgr a:hover {  
                color: #B40431;  
                text-decoration: none;  
            }  

     

 .GvGrid:hover
        {
            background-color: #B40431;
           /* border-top: solid;
            color:#000000;*/ 
        }
 .mGrid{

     font-size:large;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
         
 }
.mTextFecha:focus {
    
        border:solid 2px green !important;
      
 }


