body{
background:#FFFFFF;
color:#000000;

}
.jumbotron{
background:#8A0808;
 height:160px;
text-align:right;
  background-size: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size:150px;
background-image: url(../images/upt6.png);
background-size:auto;
background-repeat: no-repeat;
 background-position: 0% 40%;
color:#F1EAFA;
} 
.navbar-inverse {
      font-size:16px; 
      color:#FFFFFF;
        }
.table{
width: 70%;
color:#FFFFFF;
background-image: url(fondo.jpg);

}
th, td {
   width: 15%;
   text-align: left;
   vertical-align: top;
   font-size: 16px;
background-color: #E97070;
backfround-image:(../fondo.jpg);
background-repeat: repeat-x;
   border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #FFFFFF;
}
.submit {  
    margin: -25px 0px 0px 340px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
    background-color:#E97070;
    color:#FFFFFF;
} 
.red .active a,
.red .active a:hover {
    background-color: red;
} 
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
    font-size: 25px;
}
