body{
background:#FFFFFF;
color:#000000;

}
.jumbotron{
background:#8A0808;
 height:160px;
text-align:right;
  background-size: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size:150px;
background-image: url(../images/upt6.png);
background-size:auto;
background-repeat: no-repeat;
 background-position: 0% 40%;
color:#F1EAFA;
} 
.navbar-inverse {
      font-size:16px; 
      color:#FFFFFF;
        }


.red .active a,
.red .active a:hover {
    background-color: red;
} 
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
    font-size: 25px;
}
